<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- ===================================================== -->
    <!-- Secondary Appenders -->
    <!-- ===================================================== -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Service Log (Rollover daily/50MB) -->
    <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/lishangmin/data/log/ganesha_activity.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/lishangmin/data/log/ganesha_activity-%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>=

    <!-- ===================================================== -->
    <!-- Primary Async Appenders -->
    <!-- ===================================================== -->

    <appender name="ASYNC-SERVICE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SERVICE"/>
    </appender>

    <!-- ===================================================== -->
    <!-- Package Config -->
    <!-- ===================================================== -->
    <!-- mybatis -->
    <logger name="cn.com.epicc.ganesha.activity.dao" level="DEBUG" />

    <!-- Root Config -->
    <root level="INFO">
        <appender-ref ref="ASYNC-SERVICE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>